.m-body6 {
    background-color: #FFFFFF;
    color: black;
    height:100%;
    width: 90vw;
    margin: 5vh 5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-playercreate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-playercreate button {
    margin: 1rem;
    background: linear-gradient(blue, white);
    border-radius: 2rem;
}

.form-playercreate button:hover {
    background: linear-gradient(rgb(34, 177, 34), white);
}

.form-playercreate input {
    border-radius: 2rem;
    margin: 0.5rem;
    border: 1px solid green
}

.form-playercreate input::placeholder {
    text-align: center;
}
